* {
    margin: 0;
    padding: 4;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    height: 1.0;
}
header {
  background: green;
  color: #fff;
  padding: 1rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
    display: grid;
    list-style: none;
}
nav ul li {
    margin-left: 0;
    list-style: none;
    }
nav ul li a {
    text-decoration: none;
}
main {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
section {
    padding: 1rem;
    margin: auto;
}
h1 {
    text-align: left;
}
footer {
  background: green;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}